@use './../../../../common/styles/variables.scss' as vars;

.input-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 6.5rem auto;
  padding: 0.5rem 0;
  @media (max-width: vars.$mobile) {
    display: block;
    grid-template-columns: none;
    input {
      width: 100%;
    }
    label {
      padding-bottom: 0.5rem;
    }
  }
  label {
    display: flex;
    align-items: center;
  }
  input {
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid vars.$primary-color-dark;
    &:disabled {
      // background-color: vars.$primary-color-light;
      color: vars.$primary-color-dark;
    }
  }
}
