@use './../../common/styles/variables.scss' as vars;

.doctor-visit {
  display: flex;
  justify-content: center;
  button:hover {
    cursor: pointer;
  }
  button:disabled {
    cursor: auto;
  }
  &__container {
    margin: 2rem 1rem;
    border-radius: 6px;
    background-color: vars.$primary-color-lighter;
    padding: 16px;
    max-width: vars.$mobile;
    width: 100%;
    font-size: 1.1rem;

    h1 {
      color: vars.$primary-color-darker;
      text-align: center;
    }
    h2 {
      color: vars.$primary-color-darker;
      margin: 1rem 0;
    }

    form {
      margin: 2rem 0;
    }
  }
  &__doctor-data {
    display: grid;
    grid-template-columns: 50% 50%;
    @media (max-width: 600px) {
      grid-template-columns: none;
    }
  }
  &__doctor-avatar-wrapper {
    display: flex;
    justify-content: center;

    @media (max-width: 600px) {
      display: none;
    }
    img {
      max-width: 12rem;
      max-height: 12rem;
      border-radius: 6px;
    }
  }
  &__select {
    width: 100%;
    display: grid;
    grid-template-columns: 6.5rem auto;
    padding: 0.5rem 0;
    @media (max-width: 400px) {
      display: block;
      select {
        width: 100%;
      }
      label {
        padding-bottom: 0.5rem;
      }
    }
    label {
      display: flex;
      align-items: center;
    }
    select {
      font-size: 1.1rem;

      padding: 0.5rem;
      border-radius: 6px;
      border: 1px solid vars.$primary-color-darker;
      optgroup {
        font-size: 1.1rem;
        & :first-child {
          display: none;
        }
      }
    }
  }

  &__calendar {
    padding: 0.5rem 0;
    &__container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    button {
      font-size: 1.1rem;
      padding: 0.75rem;
      border: none;
      border-radius: 6px;
    }
    &__next {
      background-color: vars.$secondary-color;
    }
    &__back {
      background-color: vars.$primary-color-light;
    }
  }
  &__error {
    color: red;
  }
}
