//Put global variables here

// colors
$primary-color-lighter: #F0F8FF;
$primary-color-ligth: #BBF5FF;
$primary-color: #80F2EC;
$primary-color-dark: #4BD4F4;
$primary-color-darker: #52B2F1;

$secondary-color: #6FEBB4;

// breakpoints
$mobile: 768px;
