//Put global variables here

// colors
$primary-color-lighter: #f0f8ff;
$primary-color-light: #bbf5ff;
$primary-color: #80f2ec;
$primary-color-dark: #4bd4f4;
$primary-color-darker: #52b2f1;

$secondary-color: #6febb4;

// breakpoints
$mobile: 768px;
