//Put global variables here

// colors
$primary-color-lighter: #a1bbe9;
$primary-color-light: #7196d5;
$primary-color: #4d78c1;
$primary-color-dark: #305fad;
$primary-color-darker: #144598;

$secondary-color-lighter: #9bd9c5;
$secondary-color-light: #69ccae;
$secondary-color: #41c19a;
$secondary-color-dark: #1ec08f;
$secondary-color-darker: #00cc8e;

$mobile: 768px;
