@use '../../common/styles/variables.scss' as variables;
:root{
    background-color: #F9F9F9;
    font-size: 16px;
    --main-bg-color: #F1F1F3;
    --primary-color-lighter: #a1bbe9;
    --primary-color-light: #7196d5;
    --primary-color: #4d78c1;
    --primary-color-dark: #305fad;
    --primary-color-darker: #144598;

    --secondary-color-light: #69ccae;
    --secondary-color: #41c19a;
    --secondary-color-dark: #1ec08f;
    --secondary-color-darker: #00cc8e; 
          
}

.wrapper{
    width: 100%;
    min-height: 100vh;
    .content-keeper{
        background-color: #7196d5;
        display: flex; 
        flex-direction: row;
        justify-content:space-between;
        padding-left: 0;
        .text-keeper{
            width: 50%;
            text-align: justify;
            color: white;
            text-justify: inter-word;
            font-size: 20px;
            align-self: center;
            margin-left: 60px;
        }
        .image{
            height: 400px;
           
        }
    }
    .headers{
        padding: 25px 0;
        h1{
            text-align: center;
            color: var(--primary-color-dark);
        }
    }
    
        .doctors-wrapper{
        
            list-style: none;
            justify-content: space-around;

        }
    
}
@media screen and (min-width: variables.$mobile){
   
   
}
