.dropdown{
    height: 2rem;
    &-button{
        width: 20rem;
        text-align: center;
        color: black;
        background-color: #00CC8E;
        position: relative;
        cursor: pointer;
        padding: 2rem;
        border-radius: 6px;
        .dropdown-list{
            border: 1px solid transparent;
            position: absolute;
            top: 5rem;
            left: 0;
            width: 100%;
            li{
                list-style: none;
                background-color: lightgray;
                text-align: left;
                .doctor-picture{
                    border-radius: 6px;
                    margin-left: 11px;
                }
                button{
                    background-color: #00CC8E;
                    border: none;
                    padding: 1rem;
                }
            }
            li:hover{
                border: 1px solid white;
            }
            
        }
        .dropdown-list:hover{
            border: 1px solid white;
        }
    }
    .dropdown-button:hover{
        color: white;
        background-color: #1EC08F;
   
    }
}