@use '../../common/styles/variables.scss' as vars;

.SummaryPage {
  display: flex;
  justify-content: center;

  &_container {
    margin: 2rem 1rem;
    background-color: vars.$primary-color-lighter;
    border-radius: 6px;
    padding: 16px;
    max-width: vars.$mobile;
    width: 100%;
    font-size: 1.1rem;

    h1 {
      color: vars.$primary-color-darker;
      text-align: center;
      margin-bottom: 1rem;
    }
    h2 {
      color: vars.$primary-color-darker;
      margin: 1rem 0;
    }
    input {
      font-size: 1.1rem;
      padding: 0.5rem;
      border-radius: 6px;
    }
    label {
      display: flex;
    }
  }

  &_info {
    display: grid;
    grid-template-columns: 50% 50%;

    @media (max-width: 600px) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
    }
  }

  &_doctorImg {
    display: flex;
    justify-content: center;
    padding: 1rem;

    @media (max-width: 600px) {
      display: none;
    }
    img {
      max-height: 12rem;
      max-width: 12rem;
      border-radius: 6px;
    }
  }

  &_buttons {
    display: flex;
    justify-content: space-between;

    button {
      margin-top: 1rem;
      font-size: 1rem;
      padding: 0.75rem;
      border-radius: 6px;
      border: none;
      max-width: max-content;
    }

    &_cancel {
      background-color: vars.$primary-color-light;
    }
    &_cancel:hover {
      background-color: vars.$primary-color-dark;
      cursor: pointer;
    }
    &_home {
      background-color: vars.$secondary-color;
    }
    &_home:hover {
      background-color: #41c19a;
      cursor: pointer;
    }
  }
}
